{% extends 'shop/base.html' %}

{% block content %}
<div class="container mt-5">
  <h1>About Us</h1>
  <p class="lead">Learn more about our e-commerce site and our mission.</p>

  <section class="my-5">
    <h2>Our Mission</h2>
    <p>At Shoptech, our mission is to provide the best online shopping experience by offering a wide variety of quality products at competitive prices, with excellent customer service.</p>
  </section>

  <section class="my-5">
    <h2>Our Vision</h2>
    <p>We aim to become the leading e-commerce platform by continuously improving our services and expanding our product range to meet the diverse needs of our customers.</p>
  </section>

  <section class="my-5">
    
    <div class="row">
      <div class="col-md-4">
        <h4><b>Mohammed ELFADLAOUI</b> </h4>
        <p>CEO & Founder</p>
      </div>
      <div class="col-md-4">
        <h4><b>Abraham KOMLAVI</b></h4>

      </div>

    </div>
  </section>

  <section class="my-5">

    <p style="text-align: center;">Founded in 2024</p>
  </section>
</div>
{% endblock %}
