{% extends 'shop/base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="text-center mb-5">
    <h1> <strong>Contact the Team</strong></h1>
    <p class="lead" style="font-weight: 500;">We're here to help and answer any question you might have. We look forward to hearing from you 🙂</p>
  </div>

  <section class="mb-5 text-center">
    <h2 class="text-primary"> <strong>Our Team</strong></h2>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card shadow-sm mb-4">
          <div class="card-body">
            <h4 class="card-title text-success"> <b>Mohammed ELFADLAOUI</b></h4>
            <p class="card-text">CEO & Founder</p>
            <p>
              <strong>Email : </strong> 
              <a href="mailto:john@example.com" style="text-decoration: double; color: rgb(0, 114, 99);">
                <i class="fa fa-envelope"></i> fadlaouisimo11@gmail.com
              </a>
            </p>
            <p>
              <strong>GitHub : </strong> 
              <a href="https://github.com/johndoe" target="_blank" style="text-decoration: double; color: rgb(0, 114, 99);">
                <i class="fa fa-github"></i> github.com/fadlaouisimoo/
              </a>
            </p>
            <p>
              <strong>WhatsApp : </strong> 
              <a href="https://wa.me/1234567890" target="_blank" style="text-decoration: double; color: rgb(0, 114, 99);">
                <i class="fa fa-whatsapp"></i> +212 622-925281
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card shadow-sm mb-4">
          <div class="card-body">
            <h4 class="card-title text-success"> <b>Abraham KOMLAVI</b></h4>
            <p class="card-text"> </p>
            <p>
              <strong>Email : </strong> 
              <a href="mailto:john@example.com" style="text-decoration: double; color: rgb(0, 114, 99);">
                <i class="fa fa-envelope"></i> abrahamkomlavi33@gmail.com
              </a>
            </p>
            <p>
              <strong> WhatsApp : </strong> 
              <a href="https://wa.me/0987654321" target="_blank" style="text-decoration: double; color: rgb(0, 114, 99);">
                <i class="fa fa-whatsapp"></i> +212 669-762948
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mb-5 text-center">
    <h2 class="text-primary"> <strong>General Inquiries</strong></h2>
    <p>If you have any general questions or need further information about our services, please don't hesitate to reach out to us through the contact form below or via our general email.</p>
    <p><strong>Email:</strong><a style="text-decoration: solid; color: brown; font-family:segoe 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" href="mailto:"> info@shoptech.com</a> </p>
  </section>

  <section class="text-center">
    
      <p style="margin-bottom: 10px; font-family: arial; font-weight: 600;"  class="mt-3">Devoloped by : Mohammed ELFADLAOUI & Abraham KOMLAVI</p> <br>
      
      <p style="text-align: center; margin-bottom: 60px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">© 2024 Copyright Symbol ,Inc, All rights reserved.</p>

  </section>
</div>
{% endblock %}



